.THIS .newFlag {
    background-image: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    position: relative;
    bottom: 2px;
    font-weight: bold;
    color:red;
    font-size:.8em;
}

.THIS .slds-spinner_container {
  z-index: 9000;
  /*position: fixed;*/
}

.THIS .x_title h2 {
    font-family: Open Sans !important;
}

.THIS .quickLinkPanelCSS {
    height: 26.2rem;
    max-height: 26.2rem;
}

.THIS .quickLinksContentBlockCSS {
    height: 21rem;
    max-height: 21rem;
    overflow: auto;
}

.THIS .quickLinksContentBlockCSS::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white !important;
    width: 8px;
}

.THIS .quickLinksContentBlockCSS::-webkit-scrollbar{
	width: 8px;
	background-color: #2A3F54 !important;
}

.THIS .quickLinksContentBlockCSS::-webkit-scrollbar-thumb{
	background: #2A3F54 !important;
}